body{
    background: rgb(0, 0, 0);
    overflow-x: hidden;
}
.img1, .img2, .img3{
    overflow-x: hidden;
    height: auto;
    width: 31vw;
    animation: motion 15000ms infinite alternate;
}
@keyframes motion{
    0%{transform: translateX(65vw);}
    14.3%{transform: translateX(35vw);}
    28.6%{transform: translateX(35vw);}  
    42.9%{transform: translateX(2vw);} 
    56.2%{transform: translateX(2vw);} 
    70.5%{transform: translateX(-35vw);}
    84.8%{transform: translateX(-35vw);} 
    100%{transform: translateX(-65vw);}
}
.img1:hover, .img2:hover, .img3:hover{
    cursor: pointer;
    border: 5px solid rgba(255, 0, 120, 0.75);
    border-radius: 20px;
    width: 30vw;
}
.scrlIMG{
    border: 5px solid rgba(255, 0, 120, 0.75);
    border-left: none;
    border-right: none;
    border-radius: 20px;
    padding: 1vw 2vw;
    background-color: black;
    display: block;
    overflow-x: hidden;
}
.KuniTitle{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36pt;
    color: rgba(255, 0, 120, 0.75);
}
.KuniVid{ 
    width: 1300px; 
    height: 731.25px; 
    margin-left: 15%;
}
article{
    color: white;
    margin-left: 15%;
    margin-right: 35%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}
.KuniFace{
    width: 960px;
    margin-left: 15%;
    margin-right: 15%;
}
.KuniVid2{
    width: 960px;  
    height: 540px;
    margin-left: 15%;
}
.BTT{
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
    position: fixed;
    padding: 1vw 2vw;
    border: 1px transparent;
    border-radius: 20px;
    color: white;
    background: orange;
    left: 90%;
    top: 90%;
}
.BTT:hover{
    cursor: pointer;
    background: rgba(255, 0, 120, 0.75);
}


@media only screen and (max-width: 1440px){
    .img1, .img2, .img3{
        overflow-x: hidden;
        width: 30vw;
    }
    .KuniTitle{
        font-size: 28pt;
    }
    .KuniVid{
        width: 850px;
        height: 478.125px;
        margin-left: 5%;
    }
    article{
        margin-left: 5%;
        margin-right: 5%;
    }
    .KuniFace{
        width: 850px;
        height: 478.125px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .KuniVid2{
        width: 850px;
        height: 478.125px;
        margin-left: 5%;
    }
    .BTT{
        padding: 2vw 4vw;
        font-size: 36pt;
        left: 75%;
        top: 93%;
    }
}